<!DOCTYPE html>
 {% extends "Registration/base.html" %}
 {% load static %}
  {% block body_block %}

    <div class="container">
      <div class="jumbotron">
        <h1>Students List</h1>
      </div>
    </div>

    <div class="table-responsive">
      {% if table %}
        <table class = "table table table-dark table-striped table-hover">
          <thead class= "thead-light">
            <th>Student ID</th>
            <th> Student Name</th>
            <th>Department</th>
            <th>Campus</th>
            <th>Semester</th>
            <th>Shift</th>
            <th>Section</th>
            <th>T-Shirt Size</th>
            <th>Registration Status</th>
          </thead>
          {% for st in table %}
            <tr>
              <td>{{ st.ID }}</td>
              <td>{{ st.Name }}</td>
              <td>{{ st.Department }}</td>
              <td>{{ st.Campus }}</td>
              <td>{{ st.Semester }}</td>
              <td>{{ st.Shift }}</td>
              <td>{{ st.Section }}</td>
              <td>{{ st.TShirt }}</td>
              <td>{{ st.Status }}</td>
            </tr>
          {% endfor %}

        </table>
        {% else %}
          <p>Nothing Found :( </p>
        {% endif %}

    </div>
 {% endblock %}
